*{
    margin: 0px;
    padding: 0px;
}
body{
  background-image: linear-gradient( to top, rgb(64, 1, 64)50%,black) ;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0; 
  height: 100vh;
}
#div{
  width: 100%;
  height: 100%;
}
#name{
  color: white;
  font-size: 20px;
  margin-top: 87px;
  text-align: left;
  margin-left: 150px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#line{
  width: 80%;
  height: 100%;
  border-color: rgb(91, 91, 91);

}
#ovr{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 75px;
  margin-top: 50px;
  text-align: center;
}
#mtr{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: rgb(138, 136, 136);
  margin-top: 30px;
  font-size: 30px;

}
#img{
  width: 500px;
  height: 300px;
  margin-left: 33%;
  margin-top: 20px;
}

#button{
  width: 200px;
  height: 28px;
  margin-left: 43%;
  margin-top: 20px;
  background-color:rgb(164, 143, 24);
  outline: none;
  border-radius: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.5s ease;
  border: none;
}
#div{
  width: 100%;
  height: 300px;
}

 #piano{
  color: white;
  margin-left: 19%;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 #pianopng{
  width: 400px;
  height: 450px;
  margin-left: 30%;
  margin-top: 30px;
  
 }
#audio{
  /* width: 100px; */
  /* height: 10px; */
 color: transparent;
 margin-left: 18%;
 float: left;

}
#pno{
  margin-left: 5px;
  width: 100vh;
  height: 80vh;
  background-color: rgb(11, 4, 11);
  float: left;
}
#s{
  height: 10px;
  color: rgb(188, 187, 187);
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#p{
  color: rgb(188, 187, 187);
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#u{
  color: rgb(188, 187, 187);
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#i{
  color: rgb(188, 187, 187);
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#imgdiv{
  width: 98.6vh;
  height: 80vh;
  background-color: rgb(11, 4, 11);
margin-left: 60.4%;
 
float: left;
margin-top: -63.9%;
}
audio::-webkit-media-controls-panel {
  background-color: rgb(160, 160, 160); /* Change background color */
  color: #fff; /* Change text color */
}
#button:hover{
  font-size: 25px;
  height: 33px;
}
#gtr{
  margin-top: 15px;
  margin-left: 5px;
  width: 100vh;
  height: 30vh;
  background-color: rgb(11, 4, 11);
  float: left;

}
#guitar{
  color: white;
  margin-left: 19%;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#a{
  
    /* width: 100px; */
    /* height: 10px; */
   color: transparent;
   margin-left: 18%;
   float: left;
  
}
#gtrdiv{
  width: 87.3vh;
  height: 30vh;
  background-color: rgb(11, 4, 11);
margin-left: 50.4%;
 
float: left;
margin-top: -16.9%;
}
#gtrpng{
  
    width: 250px;
    height: 200px;
    margin-left: 20%;
    margin-top: 30px;
}
#so{
  color: rgb(173, 173, 173);
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}
#st{
  color: rgb(173, 173, 173);
  margin-left: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;

}
#th{
  width: 175vh;
  height: 100;
  background-color: white;
  margin-left: -101%;
  
  /* margin-left: -22%; */
  margin-top: 20px;
}
#tha{
  color: rgb(99, 98, 98);

  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#C{
  margin-left: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(99, 98, 98);

}
#M{
  margin-top: 5px;
  margin-left: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(99, 98, 98);



}
#E{
  margin-left: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(99, 98, 98);

}
#I{
  margin-left: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(99, 98, 98);

}
#inst{
  width: 25px;
  height: 20px;
  /* margin-top: 2px; */
}
#lmpng{
  width: 180px;
  height: 110px;
  background-color: none;
margin-top: -20%;
}
